<h1>CART!!!!</h1>

<div class="container-fluid">
  <div class="row px-5">
    <div class="col-md-7">
      <div class="shopping-cart">
        <br />
        <h6>My Cart</h6>
        <hr />
      </div>
    </div>
    <div class="col-md-5 border rounded mt-5 mb-5 bg-white">
      <div class="pt-6">
        <br />
        <h5>USER INFO</h5>
        <hr />
        <div class="price-details"></div>
        <hr />
        <br />
        <h5>PRICE DETAILS</h5>
        <hr />
        <div class="price-details">
          <h6>Delivery Charges:</h6>
          <hr />
          <h6>Amount Payable: totalt ></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="exampleInputAdress">Address</label>
    <input
      type="address"
      class="form-control"
      id="exampleInputAddress"
      aria-describedby="addressHelp"
      placeholder="Enter Address"
    />
    <small id="AdressHelp" class="form-text text-muted"
      >We'll never share your address with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputName1">Name</label>
    <input
      type="Name"
      class="form-control"
      id="exampleInputName1"
      placeholder="Name"
    />
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
