<div class="container-fluid">
  <div class="row px-5">
    <div class="col-md-7">
      <div *ngIf="items" class="shopping-cart">
        <br />
        <h2>Varukorg</h2>
        <div class="cart-items" *ngFor="let item of items">
          <span>{{ item.title }}, {{ item?.number_of_pages || 500 }} kr</span>
        </div>
        <p>Total price: {{ getTotalPrice() }} kr</p>
      </div>
    </div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Information</mat-label>

        <input
          matInput
          id="name"
          type="text"
          placeholder="Name"
          formControlName="name"
          required
        />

        <input
          matInput
          id="address"
          type="text"
          placeholder="Address"
          formControlName="address"
          required
        />

        <input
          matInput
          id="email"
          type="email"
          placeholder="Email"
          formControlName="email"
          required
        />

        <input
          matInput
          id="cardNumber"
          type="text"
          placeholder="Card Number"
          formControlName="cardNumber"
          required
        />

        <input
          matInput
          id="secCode"
          placeholder="3-digit security code"
          type="text"
          formControlName="secCode"
          required
          minlength="3"
          maxlength="3"
        />
        <button class="mat-button" type="submit" color="accent">Köba</button>
      </mat-form-field>
    </form>
  </div>
</div>
