<header>
  <div>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="../assets/campus-header.PNG" width="1200" alt="header">
      </a>
    </nav>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/cart">
        <img src="../assets/cart.PNG" width="50" height="50" alt="cart">
      </a>
    </nav>
  </div>
</header>

<!-- Den här behövs för att routingen ska funka men jag fattar inte till vad... -->
<router-outlet></router-outlet>
<!-- Routed components go here -->