<header class="bg-light">
  <div>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/campus-header.PNG" width="1200" alt="header" />
      </a>
      <a
        matBadge="{{ getNumberItems() }}"
        matBadgeOverlap="true"
        class="navbar-brand"
        routerLink="/cart"
      >
        <img src="../assets/cart.PNG" width="50" height="50" alt="cart" />
      </a>
    </nav>
  </div>
</header>
<!-- <a routerLink="/view-book" routerLinkActive="active">View-Book</a> -->

<!-- Den här behövs för att routingen ska funka men jag fattar inte till vad... -->
<router-outlet></router-outlet>
<!-- Routed components go here -->
