<img src="../assets/campus-body.PNG" width="1200" />

<h1>Populär kurslitteratur:</h1>
<div *ngIf="books" class="flex-parent">
  <div
    class="flex-item book-flex"
    *ngFor="let book of books; index as i; first as isFirst"
  >
    <a
      [routerLink]="[
        '/view-book/',
        {
          isbn: book.identifiers.isbn_10[0]
            ? book.identifiers.isbn_10[0]
            : book.identifiers.isbn_13[0]
        }
      ]"
    >
      <div><img src="`{{ book.cover.small }}`" /></div>
      <h3>{{ book.title }}</h3>
      <p>{{ book.authors[0].name }}</p>
      <p>Price: {{ book.number_of_pages }} kr</p>
    </a>
    <button
      class="btn btn-primary"
      (click)="addToCart(book.identifiers.isbn_10[0])"
    >
      Køb
    </button>
  </div>
</div>
